%column {
  display: flex;
  flex-direction: column;
}

%row {
  display: flex;
  flex-direction: row;
}

%section {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

$largeFont: 3em;
$normalFont: 1em;

%buttonStyle {
  height: 2em;
  width: max-content;
  border-radius: 4px;
  font-size: $normalFont;
  font-weight: bold;
  border: 1px solid cornflowerblue;
}