@import "../../../common.scss";

.Page {
  @extend %column;
  height: 100%;
  display: flex;
  flex-direction: column;

  .Top {
    @extend %section;

    .mainText {
      text-align: center;
      font-size: $largeFont;
    }
  }
  
  .Middle {
    @extend %section;
  }
  
  .Bottom {
    @extend %section;
    justify-content: space-evenly;
  
    .userDirections {
      text-align: center;
    }

    .mic-holder {
      @extend %row;
      justify-content: center;
      height: 5em;

      
    }
  }
}


.mic-button {
  height: 100%;
  cursor: pointer;
}
