@import "../../../../common.scss";

.Main {
  width: 100%;
  display: flex;
  justify-content: center;

  .MainBody {
    align-self: center;
    height: 80%;
    flex: 0 0 80%;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
  }

}

.Top {
  @extend %section;

  .mainText {
    text-align: center;
    font-size: $largeFont;
  }
}

.Middle {
  @extend %section;
}

.Bottom {
  @extend %section;
  justify-content: space-evenly;

  .userDirections {
    text-align: center;
  }

  .mic-holder {
    @extend %row;
    justify-content: center;
    height: 5em;
  }
}

.mic-button {
  height: 100%;
  cursor: pointer;
}

.userDirections{
  font-size: 2em;
  text-align: center;
}