%column {
  display: flex;
  flex-direction: column;
}

%row {
  display: flex;
  flex-direction: row;
}

%section {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.Page {
  @extend %column;
  height: 100%;
  display: flex;
  flex-direction: column;

  .Top {
    @extend %section;

    .mainText {
      text-align: center;
      font-size: 3em;
    }
  }
  
  .Middle {
    @extend %section;
  }
  
  .Bottom {
    @extend %section;
    @extend %column;
    justify-content: space-evenly;
  
    .mic-holder {
      @extend %row;
      justify-content: center;
      .mic-button {
        height: 3em;
        width: 3em;
        border-radius: 3em;
        background-color: red;
      }
    }

    .textArea {
      height: 80%;
    }
  }
}

.userDirections {
  text-align: center;
}


