@import "../../../../common.scss";

.backButton {
  @extend %buttonStyle;
  position: fixed;
  top: 3em;
  left: 3em;
  background-color: inherit;
  color: white;
  font-size: 1em;
  height: 2em;
  border: 1px solid white
}

.Result {
  width: 100%;
  display: flex;
  justify-content: center;

  .ResultBody {
    align-self: center;
    height: 80%;
    flex: 0 0 80%;
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
  }
}

.Top {
  .userDirections{
    font-size: 2em;
    text-align: left;
    margin: 0;
  }
  .mainText {
    text-align: center;
    font-size: $largeFont;
    height: max-content;
  }
}

.Middle {
  @extend %section;
}

.Bottom {
  display: flex;
  justify-content: center;
}

.textAreaInactive {
  flex: 1 1 auto;
  overflow-wrap: break-word;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  color: black;
  font-size: 2em;

  .enableTextAreaButton {
    @extend %buttonStyle;
  
    font-size: 20px;
    background: inherit;
    color: cornflowerblue;
  }
}


.textArea {
  flex: 1 1 auto;
  border-radius: 1em;
  padding: 1em;
  background-color: white;

  .textArea__Input {
    height: 90%;
    width: 100%;
    border: 0px;
    font-size: 3em;
    resize: none;
  }

  .sendCorrectionButton {
    @extend %buttonStyle;
    color: cornflowerblue;
    background: inherit;
  }
}

.playAudioButton {
  @extend %buttonStyle;

  background: cornflowerblue;
  color: white;
}
